<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.todo_app_with_notifications">

    <!-- Needed for notifications -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <!-- Needed for exact scheduled alarms -->
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"/>
    <!-- Optional: survive reboot if you want scheduled notifications to re-fire after restart -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

   <application
    android:name="${applicationName}"
    android:label="Tasker"
    android:icon="@mipmap/ic_launcher"
    android:banner="@mipmap/ic_launcher">

        <!-- Awesome Notifications receivers -->
        <receiver android:name="me.carda.awesome_notifications.notifications.receivers.ActionReceiver" android:exported="true"/>
        <receiver android:name="me.carda.awesome_notifications.notifications.receivers.DismissedReceiver" android:exported="true"/>
        <receiver android:name="me.carda.awesome_notifications.notifications.receivers.CreatedReceiver" android:exported="true"/>

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">

            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Flutter embedding metadata -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2"/>
    </application>
</manifest>
